
# /
/.project
/.cproject
/.externalToolBuilders

# /release/binary/
/release/binary/*.ilk
/release/binary/*.pdb
/release/binary/Ares.exp
/release/binary/Ares.lib
/release/binary/YRPP
/release/binary/layouts*.txt
/release/binary/obj

# /src/
/src/*.obj
/src/*.save
/src/.cproject
/src/.externalToolBuilders
/src/.git
/src/.gitignore
/src/.project
/src/.settings
/src/debug

# /src/Commands/
/src/Commands/*.obj
/src/Commands/.git
/src/Commands/debug
/src/Commands/.gitignore
/src/Commands/*.save

# /src/Doc/
/src/Doc/*.obj
/src/Doc/.git
/src/Doc/debug
/src/Doc/.gitignore
/src/Doc/*.save

# /src/Enum/
/src/Enum/*.obj
/src/Enum/.git
/src/Enum/debug
/src/Enum/.gitignore
/src/Enum/*.save

# /src/Ext/
/src/Ext/*.obj
/src/Ext/.git
/src/Ext/debug
/src/Ext/.gitignore
/src/Ext/*.save

# /src/Ext/Building/
/src/Ext/Building/*.obj
/src/Ext/Building/.git
/src/Ext/Building/debug
/src/Ext/Building/.gitignore
/src/Ext/Building/*.save

# /src/Ext/BuildingType/
/src/Ext/BuildingType/*.obj
/src/Ext/BuildingType/.git
/src/Ext/BuildingType/debug
/src/Ext/BuildingType/.gitignore
/src/Ext/BuildingType/*.save

# /src/Ext/Bullet/
/src/Ext/Bullet/*.obj
/src/Ext/Bullet/.git
/src/Ext/Bullet/debug
/src/Ext/Bullet/.gitignore
/src/Ext/Bullet/*.save

# /src/Ext/BulletType/
/src/Ext/BulletType/*.obj
/src/Ext/BulletType/.git
/src/Ext/BulletType/debug
/src/Ext/BulletType/.gitignore
/src/Ext/BulletType/*.save

# /src/Ext/Campaign/

# /src/Ext/House/
/src/Ext/House/*.obj
/src/Ext/House/.git
/src/Ext/House/debug
/src/Ext/House/.gitignore
/src/Ext/House/*.save

# /src/Ext/HouseType/
/src/Ext/HouseType/*.obj
/src/Ext/HouseType/.git
/src/Ext/HouseType/debug
/src/Ext/HouseType/.gitignore
/src/Ext/HouseType/*.save

# /src/Ext/Rules/
/src/Ext/Rules/*.obj
/src/Ext/Rules/.git
/src/Ext/Rules/debug
/src/Ext/Rules/.gitignore
/src/Ext/Rules/*.save

# /src/Ext/SWType/
/src/Ext/SWType/*.obj
/src/Ext/SWType/.git
/src/Ext/SWType/debug
/src/Ext/SWType/.gitignore
/src/Ext/SWType/*.save

# /src/Ext/Side/
/src/Ext/Side/*.obj
/src/Ext/Side/.git
/src/Ext/Side/debug
/src/Ext/Side/.gitignore
/src/Ext/Side/*.save

# /src/Ext/Techno/
/src/Ext/Techno/*.obj
/src/Ext/Techno/.git
/src/Ext/Techno/debug
/src/Ext/Techno/.gitignore
/src/Ext/Techno/*.save

# /src/Ext/TechnoType/
/src/Ext/TechnoType/*.obj
/src/Ext/TechnoType/.git
/src/Ext/TechnoType/debug
/src/Ext/TechnoType/.gitignore
/src/Ext/TechnoType/*.save

# /src/Ext/WarheadType/
/src/Ext/WarheadType/*.obj
/src/Ext/WarheadType/.git
/src/Ext/WarheadType/debug
/src/Ext/WarheadType/.gitignore
/src/Ext/WarheadType/*.save

# /src/Ext/WeaponType/
/src/Ext/WeaponType/*.obj
/src/Ext/WeaponType/.git
/src/Ext/WeaponType/debug
/src/Ext/WeaponType/.gitignore
/src/Ext/WeaponType/*.save

# /src/Misc/
/src/Misc/*.obj
/src/Misc/.git
/src/Misc/debug
/src/Misc/.gitignore
/src/Misc/*.save

# /src/Misc/SWTypes/
/src/Misc/SWTypes/*.obj
/src/Misc/SWTypes/.git
/src/Misc/SWTypes/debug
/src/Misc/SWTypes/.gitignore
/src/Misc/SWTypes/*.save

# /src/UI/
/src/UI/*.obj
/src/UI/.git
/src/UI/debug
/src/UI/.gitignore
/src/UI/*.save

# /src/Utilities/
