#include <windows.h>
#include "registered.h"

148 DIALOGEX 0, 0, 533, 369
STYLE WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "", 1109, LISTBOX, LBS_NOTIFY | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE, 421, 151, 107, 98 
   CONTROL "GUI:Load", 1038, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 425, 122, 108, 23 
   CONTROL "Slider3", 1295, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE, 137, 140, 140, 14 
   CONTROL "GUI:Difficulty", 1822, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 137, 167, 75, 12 
   CONTROL "GUI:Harder", 1648, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 203, 167, 75, 12 
   CONTROL "GUI:Back", 1670, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 425, 253, 108, 23 
   CONTROL "GUI:CampaignMenu", 1684, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 425, 1, 108, 10 
   CONTROL "", 1770, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 125, 34, 174, 87 , 0x00000020
   CONTROL "", 1772, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 125, 216, 173, 86 , 0x00000020
   CONTROL "GUI:Blank", 1685, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 8, 354, 303, 12 
   CONTROL "", 1820, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 449, 29, 61, 33 , 0x00000020
   CONTROL "", 1959, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE, 4, 123, 415, 13 
   CONTROL "", 1960, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE, 3, 304, 420, 13 

   CONTROL "", 1771, STATIC, SS_BLACKFRAME | WS_CHILD, 25, 34, 174, 87 , 0x00000020
   CONTROL "", 1773, STATIC, SS_BLACKFRAME | WS_CHILD, 225, 34, 174, 87 , 0x00000020
   CONTROL "", 1961, STATIC, SS_CENTER | WS_CHILD, 4, 150, 415, 13 
   CONTROL "", 1962, STATIC, SS_CENTER | WS_CHILD, 3, 324, 420, 13 
}
