#include <windows.h>
#include "registered.h"

247 DIALOG 0, 0, 252, 157
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Yuri's Revenge (Ares active)"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "An internal error occured and the game is unable to continue normally.", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE, 7, 9, 238, 8 
   CONTROL "This can happen when a mod is not working correctly, or when a bug in Ares or the original game is encountered.", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE, 7, 25, 238, 18 
   CONTROL "Please notify the mod's creator about this error, or visit our website at http://ares.strategy-x.com for updates and support.", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE, 7, 50, 238, 18
   CONTROL "OK", 1153, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 83, 135, 79, 14

  CONTROL "The cause for this error could not be determined.\r\nGrab the files except.txt, debug.txt, syringe.log from your game folder\r\nand send them to the mod's creators or post them at https://launchpad.net/ares so we can fix it.", ARES_TXT_IE_DETAILS, EDIT, ES_LEFT | ES_MULTILINE | ES_NOHIDESEL | ES_READONLY | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL , 7, 70, 238, 60
}
