#include <windows.h>
#include "registered.h"

261 DIALOGEX 0, 0, 533, 369
STYLE WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "GUI:Cancel", 1472, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 423, 346, 108, 23 
   CONTROL "GUI:LoadMap", 1730, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 422, 149, 108, 23 
   CONTROL "GUI:SaveMap", 1731, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 422, 176, 108, 23 
   CONTROL "GUI:UseMap", 1733, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 422, 122, 108, 23 
   CONTROL "GUI:DeleteMap", 1732, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 422, 203, 108, 23 
   CONTROL "GUI:GenerateMap", 1684, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 422, 1, 108, 10 
   CONTROL "", 1029, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_SORT | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 179, 41, 150, 103 
   CONTROL "GUI:Players", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 74, 162, 93, 14 
   CONTROL "GUI:MapSize", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 74, 114, 93, 12 
   CONTROL "GUI:Environment", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 74, 40, 93, 14 
   CONTROL "", 1002, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_SORT | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 179, 65, 150, 101 
   CONTROL "GUI:TimeOfDay", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 74, 64, 93, 14 
   CONTROL "Slider1", 1003, "msctls_trackbar32", TBS_HORZ | TBS_LEFT | WS_CHILD | WS_VISIBLE, 179, 163, 150, 13 
   CONTROL "", 1030, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 179, 114, 150, 103 
   CONTROL "GUI:Theater", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 74, 90, 93, 12 
   CONTROL "", 1031, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 179, 90, 150, 103 
   CONTROL "GUI:Resources", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 74, 138, 93, 12 
   CONTROL "", 1032, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 179, 138, 150, 103 
   CONTROL "GUI:PreviewMap", 1568, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 246, 257, 83, 15 
   CONTROL "GUI:SurpriseMe", 1569, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 74, 257, 83, 15 
   CONTROL "", 1019, EDIT, ES_LEFT | ES_NUMBER | WS_CHILD | WS_DISABLED & ~WS_VISIBLE, 279, 287, 50, 12 
   CONTROL "", 1593, BUTTON, BS_GROUPBOX | WS_CHILD & ~WS_VISIBLE, 229, 217, 100, 21 
   CONTROL "GUI:WorkingPleaseWait", 1592, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD & ~WS_VISIBLE, 74, 219, 150, 11 
   CONTROL "GUI:Blank", 1685, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 2, 355, 303, 12 
   CONTROL "", 1128, STATIC, SS_BLACKRECT | WS_CHILD | WS_VISIBLE, 430, 23, 96, 69 , 0x00000020

   CONTROL "GUI:UrbanAreas", ARES_CHK_RMG_URBAN_AREAS, BUTTON, BS_AUTOCHECKBOX | BS_FLAT | WS_CHILD | WS_VISIBLE, 177, 192, 150, 14
}
