#include <windows.h>
#include "registered.h"

258 DIALOGEX 0, 0, 533, 369
STYLE WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "GUI:Back", 1472, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 425, 346, 108, 23 
   CONTROL "GUI:SkirmishGame", 1684, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 425, 1, 108, 10 
   CONTROL "GUI:StartGame", 1559, BUTTON, BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 425, 149, 108, 23 
   CONTROL "", 1696, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE, 38, 36, 100, 14 
   CONTROL "", 1697, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 191, 36, 78, 74 
   CONTROL "Slider1", 1292, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE, 269, 210, 85, 13 
   CONTROL "Slider3", 1297, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE, 269, 193, 85, 13 
   CONTROL "GUI:ChooseMap", 1450, BUTTON, BS_OWNERDRAW | BS_MULTILINE | WS_CHILD | WS_VISIBLE, 425, 176, 108, 23 
   CONTROL "GUI:CratesAppear", 1686, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 48, 210, 100, 10 
   CONTROL "GUI:MCVRepacks", 1683, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 48, 193, 100, 10 
   CONTROL "GUI:ShortGame", 1358, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 48, 176, 100, 10 
   CONTROL "Slider4", 1321, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE, 269, 176, 85, 13 
   CONTROL "GUI:GameSpeed", 1689, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 201, 176, 60, 10 
   CONTROL "GUI:Credits", 1691, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 201, 193, 60, 10 
   CONTROL "GUI:UnitCount", 1692, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 201, 210, 60, 10 
   CONTROL "", 1291, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 39, 52, 100, 74 
   CONTROL "", 1294, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 39, 68, 100, 74 
   CONTROL "", 1296, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 191, 52, 78, 74 
   CONTROL "", 1302, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 39, 84, 100, 74 
   CONTROL "", 1306, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 39, 100, 100, 74 
   CONTROL "", 1307, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 39, 116, 100, 74 
   CONTROL "", 1308, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 39, 132, 100, 74 
   CONTROL "", 1309, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 39, 148, 100, 74 
   CONTROL "", 1300, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 191, 100, 78, 74 
   CONTROL "", 1310, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 191, 84, 78, 74 
   CONTROL "", 1311, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 191, 116, 78, 74 
   CONTROL "", 1312, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 191, 132, 78, 74 
   CONTROL "", 1314, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 282, 52, 29, 73 
   CONTROL "", 1315, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 282, 68, 29, 73 
   CONTROL "", 1316, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 282, 84, 29, 73 
   CONTROL "", 1317, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 282, 100, 29, 73 
   CONTROL "", 1318, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 282, 116, 29, 73 
   CONTROL "", 1319, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 282, 132, 29, 73 
   CONTROL "", 1754, STATIC, SS_GRAYRECT | WS_CHILD | WS_VISIBLE, 150, 36, 32, 12 , 0x00000020
   CONTROL "", 1755, STATIC, SS_GRAYRECT | WS_CHILD | WS_VISIBLE, 150, 52, 32, 12 , 0x00000020
   CONTROL "", 1756, STATIC, SS_GRAYRECT | WS_CHILD | WS_VISIBLE, 150, 68, 32, 12 , 0x00000020
   CONTROL "", 1757, STATIC, SS_GRAYRECT | WS_CHILD | WS_VISIBLE, 150, 84, 32, 12 , 0x00000020
   CONTROL "", 1758, STATIC, SS_GRAYRECT | WS_CHILD | WS_VISIBLE, 150, 100, 32, 12 , 0x00000020
   CONTROL "", 1759, STATIC, SS_GRAYRECT | WS_CHILD | WS_VISIBLE, 150, 116, 32, 12 , 0x00000020
   CONTROL "", 1760, STATIC, SS_GRAYRECT | WS_CHILD | WS_VISIBLE, 150, 132, 32, 12 , 0x00000020
   CONTROL "", 1761, STATIC, SS_GRAYRECT | WS_CHILD | WS_VISIBLE, 150, 148, 32, 12 , 0x00000020
   CONTROL "GUI:None", 1772, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 432, 103, 90, 10 
   CONTROL "GUI:Blank", 1685, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 2, 355, 410, 12 
   CONTROL "", 1299, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 191, 68, 78, 74 
   CONTROL "", 1313, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE, 191, 148, 78, 74 
   CONTROL "", 1698, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 282, 36, 29, 73 
   CONTROL "", 1320, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 282, 148, 29, 73 
   CONTROL "", 1128, STATIC, SS_BLACKRECT | WS_CHILD | WS_VISIBLE, 429, 23, 96, 69 , 0x00000020
   CONTROL "GUI:None", 1448, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE, 432, 116, 90, 20 
   CONTROL "GUI:SuperWeaponsAllowed", 1690, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 48, 228, 103, 10 
   CONTROL "GUI:BuildOffAlly", 1693, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 201, 227, 166, 11 
   CONTROL "", 1699, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 324, 36, 25, 73 
   CONTROL "", 1700, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 324, 52, 25, 73 
   CONTROL "", 1701, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 324, 68, 25, 73 
   CONTROL "", 1702, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 324, 84, 25, 73 
   CONTROL "", 1703, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 324, 100, 25, 73 
   CONTROL "", 1704, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 324, 116, 25, 73 
   CONTROL "", 1706, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 324, 132, 25, 73 
   CONTROL "", 1707, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 324, 148, 25, 73 
   CONTROL "", 1901, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 364, 36, 25, 73 
   CONTROL "", 1902, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 364, 52, 25, 73 
   CONTROL "", 1903, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 364, 68, 25, 73 
   CONTROL "", 1904, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 364, 84, 25, 73 
   CONTROL "", 1905, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 364, 100, 25, 73 
   CONTROL "", 1906, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 364, 116, 25, 73 
   CONTROL "", 1907, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 364, 132, 25, 73 
   CONTROL "", 1908, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 364, 148, 25, 73 
   CONTROL "GUI:Players", 1942, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 39, 21, 97, 10 
   CONTROL "GUI:Side", 1937, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 191, 21, 73, 10 
   CONTROL "GUI:Color", 1938, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 283, 21, 42, 10 
   CONTROL "GUI:StartPosition", 1939, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 325, 21, 34, 10 
   CONTROL "GUI:Team", 1940, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 363, 21, 34, 10

   CONTROL "GUI:MultiEngineer", ARES_CHK_MULTIENGINEER, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 47, 246, 103, 10 
}
